* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.loader {
    text-decoration: uppercase;
    font-size: 8em;
    color: rgba(0, 0, 0, .1);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhT9AXpUqUyMjILJ9qn9PDvXpdXE-iqbc-HMXHfU04s6rJ0fbT);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0% {
        background-position: left 0px top 80px;
    }

    40% {
        background-position: left 800px top -50px;
    }

    80% {
        background-position: left 400px top -50px;
    }

}

.navbar {
    grid-area: navbar;
    background-color: #3d71bb;
}



.fotoportada {
    width: 100%;
}

.articulo1 {
    grid-area: articulo1;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}


.articulo2 {
    grid-area: articulo2;
    padding-left: 10%;
    padding-right: 10%;
}

.Fotoizquierda {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tituloEquipo {
    grid-area: tituloEquipo;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    color: #3d71bb;
}

.columna1 {
    grid-area: columna1;
}

.columna2 {
    grid-area: columna2;
}

.fila1 {
    grid-area: fila1;
}
.fila2 {
    grid-area: fila2;
}
/*VistaCelular*/
@media(max-width: 899px) {
    .topnav {
        background-color: #3d71bb;
        grid-area: topnav;
        height: 0;
    }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center; 
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: .78s;
        
      }
      .navbar-toggler-icon {
        display: block;
        margin: 0 auto;
      }
    .navbar {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 50% 25%;
        grid-template-areas:
            'menuBoton img-container login-container'
            'topnav     topnav       topnav';
        height: auto;    
    }
    
    .logoDelfin {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #login {
       
        width: 20px;
        aspect-ratio: 5/8;
        object-fit: contain;
     
    }

    #carrito {
        
        width: 20px;
        aspect-ratio: 6/8;
        object-fit: contain;
  
    }


    .menuBoton {
        grid-area: menuBoton;
    }

    .img-container {
        grid-area: img-container;
    }

    .login-container {
        grid-area: login-container;
    display: grid;
    place-items: center;
  
    }

    .lista {
        list-style-type: none;
    }

    .enlaces-container {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            'navbar'
            'olas'
            'imagenportada'
            'articulo1'
            'articulo2'
            'tituloEquipo'
            'columna1'
            'columna2'
            'fila1'
            'fila2'
            'footer1';
        gap: 0px;
        height: 100%;
    }
    .olas{
        grid-area: olas;
        margin-top: -5px;
    }
    .imagenportada {
        grid-area: imagenportada;
        margin-top: -6%;
    }
    .columna1 {
        grid-area: columna1;
    }
    .columna2 {
        grid-area: columna2;
    }

    /* footer */
    .footer1 {
        display: grid;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            'col2 col3'
            'col4 col5';

        gap: 0px;
        height: 100%;


    }
}



/*Escritorio*/
@media(min-width:900px) {
    .custom-shape-divider-top-1681942707 {
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 2;
    }
    
    .custom-shape-divider-top-1681942707 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 59px;
    }
    .custom-shape-divider-top-1681942707 .shape-fill {
        fill: #3D71BB;
    }
    .navbar-toggler {
        display: none;
    }
    .navbar {
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas:
            '. img-container img-container img-container login-container'
            '. enlaces-container enlaces-container enlaces-container login-container';
    }
    #myLinks{
        display: none;
    }
    .topnav{
        display: none;

    }
    .navbar-toggler-icon{
        display: none;
    }

    /* CSS NAVBAR */
    .img-container {
        grid-area: img-container;
        padding: 15px;
        z-index: 2;
    }

    .logoDelfin {
        width: 100%;
        height: 170px;
        object-fit: contain;
    }

    .enlaces-container {
        grid-area: enlaces-container;

    }

    .login-container {
        grid-area: login-container;
    }

    .lista {
        list-style-type: none;
        display: inline;
        object-fit: contain;
    }

    #login {
       
        height: 40px;
        aspect-ratio: 5/8;
        object-fit: contain;
     
    }

    #carrito {
        
        height: 40px;
        aspect-ratio: 6/8;
        object-fit: contain;
    }

    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'navbar navbar'
            'olas   olas'
            'imagenportada imagenportada'
            'articulo1 articulo2'
            'tituloEquipo tituloEquipo'
            'columna1 columna2'
            'fila1 fila1'
            'fila2 fila2'
            'footer1 footer1';
    }
    .olas{
        grid-area: olas;
        margin-top: -5px;
    }
    .imagenportada {
        grid-area: imagenportada;
        margin-top: -6%;
    }

    .footer1 {
        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas:
            'col1 col2 col3 col4 col5 col6';

        gap: 0px;
        height: 100%;

    }

    /* Grid Footer */

}

/*================CSS CARDS======================*/
.bodyCard{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: rgb(9, 74, 136);
    flex-wrap: wrap;
}
.cardTeam{
    position:relative;
    width: 300px;
    height: 350px;
    margin: 50px;
}
.cardTeam .face {
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cardTeam .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.cardTeam .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardTeam .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height:45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.cardTeam .back {
    transform: perspective(600px) rotateY(180deg);
    background: #3D71BB;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.cardTeam .back .links {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.cardTeam .back .links a {
    color: #f3f3f3;
}
.cardTeam .back h5 {
    font-size: 30px;
    margin-top:20px;
    letter-spacing: 2px;
}
.cardTeam .back p {
    letter-spacing: 0px;
    text-align: justify;
}
.cardTeam:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.cardTeam:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/*================FIN CSS CARDS======================*/

/*==================CSS FOOTER========================*/
.bg-footer {
    background-color: #3D71BB;
}

.footer1 {
    grid-area: footer1;
}

.facebook {
    grid-area: facebook;
    width: auto;
    height: auto;
}

.instagram {
    grid-area: instagram;
    width: auto;
    height: auto;
}

.whatsapp {
    grid-area: whatsapp;
    width: auto;
    height: auto;
}

.col1 {
    grid-area: col1;
    padding: auto;
    text-align: center;
}

.col2 {
    grid-area: col2;
    padding: auto;
    text-align: center;
    position: relative;
    bottom: 15px;
}

.col3 {
    grid-area: col3;
    padding: auto;
    text-align: center;
}

.col4 {
    grid-area: col4;
    padding: auto;
    text-align: center;
}

.col5 {
    grid-area: col5;
    padding: auto;
    text-align: center;
    position: relative;
    bottom: 34px;

}

.col6 {
    grid-area: col6;
    padding: auto;
    text-align: center;
}

/*==================================*/